@import "variables";

.home-layout-outlet {
  padding-top: $header-height;
  background-color: $background-color;
}

@media (max-width: $breakpoint-tablet) {
  .home-layout-outlet {
    padding-top: 5.6rem;
  }
}
