@import "variables";
@import "mixins";

// Feature
.feature-intro {
  .feature-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: $z-low;
  }

  .feature-banner {
    position: relative;
    height: 71.3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: top;

    .feature-content {
      width: 93.9rem;
      height: 60%;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      flex-direction: column;
      z-index: $z-hight;

      .feature-text-head {
        transform: scale(1, 1) translate(0rem, 0rem) rotate(-2deg);
        color: $text-white;
        line-height: 1;
        letter-spacing: 0em;
        font-size: 7rem;
        text-align: center;
        width: 54.1rem;
        height: 6.5rem;
        font-family: $font-blackStones;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 3.6rem;
      }

      .feature-text-choice {
        color: $text-white;
        font-size: 5rem;
        text-align: center;
        font-family: $font-garamond;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 3.6rem;
      }

      .feature-text-desc {
        color: $text-white;
        max-width: 50.8rem;
        text-align: center;
        line-height: 1.8;
        letter-spacing: 0.05em;
        font-size: 1, 3rem;
        font-family: "Libre Baskerville";
        font-weight: 400;
        font-style: normal;
      }
    }

    .feature-laptop {
      position: absolute;
      width: 93.9rem;
      height: 91.3rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -25%);

      .feature-laptop-wrapper {
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
        border-radius: inherit;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 3%;
        background-image: url("/assets/images/laptop.png");
      }

      .feature-laptop-background {
        background-repeat: no-repeat;
        background-size: cover;
        transform-origin: 50% 50%;
        position: absolute;
        left: 25%;
        top: 35%;
        width: 44.8rem;
        height: 28rem;
        background-image: url("/assets/images/background-laptop.png");
      }

      .feature-learn {
        position: absolute;
        left: 22%;
        top: 76%;

        .feature-learn-break {
          position: relative;
          font-family: $font-questrial;
          font-weight: 400;
          margin-bottom: 3.6rem;
          text-align: center;
          font-style: normal;
          color: $text-white;
          font-size: 1.3rem;
          text-transform: uppercase;
        }

        .feature-learn-desc {
          color: $text-white;
          font-size: 3rem;
          text-align: center;
          font-family: $font-cammron;
          font-weight: 400;
          font-style: italic;
          text-transform: uppercase;
          line-height: 1.3;
          letter-spacing: 0.1em;
        }
      }

      .feature-background {
        position: relative;
        top: 84.5rem;
        width: 100%;
        max-width: 39.3rem;
        height: 47.4rem;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;

        .feature-card {
          width: 91rem;
        }
      }
    }
  }
}

.feature-categories {
  height: 188rem;
  pointer-events: none;
  width: 100%;
  background-color: rgba(178, 196, 206, 1);
}

// Sound
.sound-container {
  background: #f7f4f1;

  .sound-wrapper {
    max-width: 120rem;
    margin: 0 auto;
    padding-top: 11.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 7.2rem;

    .sound-heading {
      width: 85.4rem;
      height: 9rem;
      transform: scale(1, 1) translate(0rem, 0rem) rotate(-1deg);
      animation-fill-mode: both;
      box-sizing: border-box;
      display: block;
      outline: none;
      pointer-events: auto;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      color: rgba(178, 196, 206, 1);
      line-height: 1;
      letter-spacing: 0em;
      font-size: 7.5rem;
      text-align: center;
      font-family: $font-blackStones;
      font-weight: 400;
      font-style: normal;
      margin-bottom: 4.5rem;
    }

    .sound-result {
      width: 47.2rem;
      height: 4.1rem;
      transition-duration: 0.25s;
      transition-property: opacity;
      transform: scale(1, 1) translate(0rem, 0rem);
      color: rgba(84, 84, 84, 1);
      text-transform: uppercase;
      line-height: 1.8;
      letter-spacing: 0.25em;
      font-size: 1.2rem;
      font-family: $font-poppins;
      font-weight: 500;
      font-style: normal;
      display: flex;
      justify-content: center;
    }

    .sound-layout {
      margin-bottom: 7.2rem;
    }

    .sound-button {
      margin-bottom: 9rem;

      ::ng-deep > .custom-button {
        padding: 2.6rem 2.95rem !important;
      }
    }
  }
}

// How it works
.work-container {
  .work-wrapper {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .work-title {
      font-family: $font-cammron;
      font-weight: 400;
      font-style: normal;
      color: rgba(84, 84, 84, 1);
      line-height: 1.5;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      font-size: 3.8rem;
      text-align: center;
      margin-bottom: 6rem;
    }

    .work-guide {
      display: flex;
      margin-bottom: 9.9rem;
    }

    .work-author {
      margin-right: -26%;

      .work-author-wrapper {
        width: 62.2rem;
        height: 61.1rem;
        background-color: rgba(178, 196, 206, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1;
        padding: 9rem 10rem 6rem 12rem;

        .work-author-img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 45%;
          left: 10%;
          background-image: url("/assets/images/work-1.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50% 50%;
          border-radius: inherit;
          max-width: 37.2rem;
          max-height: 49.7rem;
        }

        > h2 {
          color: $text-white;
          text-transform: uppercase;
          line-height: 1.5;
          letter-spacing: 0.25em;
          font-size: 1.3rem;
          font-family: $font-questrial;
          font-weight: 400;
          font-style: normal;
          margin-bottom: 6.5rem;
        }

        .work-author-word {
          color: $text-white;
          line-height: 1.3;
          letter-spacing: 0.025em;
          font-size: 3.8rem;
          text-align: center;
          font-family: "Cammron Regular";
          font-weight: 400;
          font-style: normal;
          margin-bottom: 4.5rem;
        }

        .work-author-name {
          color: $text-white;
          line-height: 1;
          font-size: 6rem;
          text-align: center;
          font-family: $font-blackStones;
          font-weight: 400;
          font-style: normal;
          margin-bottom: 4rem;
        }

        .work-author-btn {
          position: relative;
          bottom: 0;
          right: 0;
        }
      }
    }
  }

  .work-start {
    height: 77.6rem;
    padding-top: 13.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 120rem;
    margin: 0 auto;
    align-items: center;

    > h2 {
      color: rgba(84, 84, 84, 1);
      line-height: 1.3;
      font-size: 3rem;
      text-align: center;
      letter-spacing: 0.025em;
      font-family: $font-cammron;
      font-weight: 400;
      font-style: normal;
      max-width: 70.8rem;
      height: 10.1rem;
      margin-bottom: 5.2rem;
    }

    .work-start-heading {
      transform: scale(1, 1) translate(0rem, 0rem) rotate(-2deg);
      width: 79.5rem;
      height: 6.3rem;
      color: rgba(178, 196, 206, 1);
      line-height: 1;
      font-size: 6rem;
      text-align: center;
      font-family: $font-blackStones;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0.025em;
    }

    .work-start-laptop {
      width: 93.9rem;
      height: 91.3rem;
      transform: scale(1, 1) translate(0rem, 0rem);
      position: relative;

      .work-laptop-image {
        width: 100%;
        height: 100%;
        background-image: url("/assets/images/laptop.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
        border-radius: inherit;
        position: absolute;
      }

      .work-background-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        border-radius: inherit;
        position: absolute;
        max-width: 30.9rem;
        height: 19.9rem;
        width: 100%;
        top: 25%;
        left: 34.5%;
        background-image: url("/assets/images/background-laptop.png");
      }
    }

    .work-start-productive {
      text-transform: uppercase;
      line-height: 1.3;
      letter-spacing: 0.1em;
      font-size: 4rem;
      text-align: center;
      font-family: "Cammron Regular";
      font-weight: 400;
      font-style: normal;
    }
  }

  .work-card-container {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

// plan
.plan-container {
  margin-top: 5rem;
  background-color: rgba(178, 196, 206, 1);

  .plan-wrapper {
    max-width: 120rem;
    height: 74.7rem;
    margin: 0 auto;
    padding: 7.5rem 9.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      color: $text-white;
      text-transform: uppercase;
      line-height: 1.8;
      letter-spacing: 0.25em;
      font-size: 1.2rem;
      font-family: $font-poppins;
      font-weight: 500;
      font-style: normal;
      margin-bottom: 4.5rem;
    }

    .plan-step-wrapper {
      display: flex;
      gap: 3.5rem;
    }
  }
}

.moment-container {
  padding-top: 8rem;
  background-color: $text-white;

  .moment-wrapper {
    height: 66rem;
    max-width: 120rem;
    margin: 0 auto;
    background: $text-white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .moment-word {
      display: flex;
      gap: 11rem;
      padding: 0rem 10.5rem;

      .monment-word-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 3.5rem;

        .momment-word-intro {
          max-width: 35.4rem;
          color: rgba(84, 84, 84, 1);
          line-height: 1.3;
          font-size: 2rem;
          text-align: left;
          font-family: $font-cammron;
          font-weight: 400;
          font-style: normal;
          margin-bottom: 3rem;
        }

        .momment-word-desc {
          max-width: 37.5rem;
          color: rgba(84, 84, 84, 1);
          line-height: 1.8;
          letter-spacing: 0.05em;
          font-size: 1.3rem;
          text-align: justify;
          font-family: $font-libre;
          font-weight: 400;
          font-style: normal;
        }
      }

      .momment-word-desc-mobile {
        display: none;
      }

      .momment-img-text-mobile {
        display: none;
      }

      .momment-img {
        position: relative;

        img {
          max-width: 100%;
          max-height: 57.1rem;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50% 50%;
          border-radius: inherit;
          height: 100%;
        }

        .momment-img-text {
          max-width: 21rem;
          position: absolute;
          top: 4rem;
          right: 0rem;
          transform: scale(1, 1) translate(10rem, 0rem) rotate(-5deg);
          width: fit-content;
          max-height: 10.7rem;
          color: rgb(178, 196, 206);
          line-height: 1.5;
          letter-spacing: 0em;
          font-size: 6rem;
          font-family: $font-blackStones;
          font-weight: 400;
          font-style: normal;
        }
      }
    }
  }
}

// Bonus
.bonus-container {
  height: 68.8rem;
  background-color: rgba(178, 196, 206, 1);

  .bonus-wrapper {
    max-width: 120rem;
    margin: 0 auto;
    background: $text-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .bonus-card {
      background-color: rgba(178, 196, 206, 1);

      .bonus-frame {
        position: absolute;
        left: 3%;
        top: 6.4rem;
        width: 100%;
        height: 100%;
        width: 59.7rem;
        height: 60.7rem;
        transform: scale(1, 1) translate(0rem, 0rem) rotate(-10deg);
        background-image: url("/assets/images/frame.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        border-radius: inherit;

        .bonus-img {
          position: absolute;
          left: 13.8rem;
          top: 9rem;
          width: 100%;
          height: 100%;
          max-width: 31rem;
          height: 41rem;
          transform: scale(1, 1) translate(0rem, 0rem) rotate(0deg);
          background-image: url("/assets/images/wedding-5.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50% 50%;
          border-radius: inherit;
        }

        .bonus-module {
          transform: rotate(-1deg);
          max-width: 21.3rem;
          height: 12.3rem;
          position: absolute;
          left: 32%;
          top: 51%;
          background-color: $text-white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .bonus-free {
            color: rgba(84, 84, 84, 1);
            font-size: 1rem;
            line-height: 1.8;
            letter-spacing: 0.25em;
            font-family: $font-garamond;
            text-transform: uppercase;
            font-weight: 500;
            font-style: normal;
            margin-bottom: 1rem;
            transform: rotate(-1deg);
          }

          h2 {
            line-height: 1.2;
            font-size: 2.5rem;
            color: rgba(84, 84, 84, 1);
            letter-spacing: 0.025em;
            font-family: $font-garamond;
            font-weight: 400;
            font-style: normal;
            text-align: center;
          }
        }
      }

      .bonus-content {
        position: absolute;
        top: 13rem;

        .bonus-title {
          transform: scale(1, 1) translate(0rem, 0rem) rotate(-8deg);
          width: 24.8rem;
          height: 5.6rem;
          color: $text-white;
          line-height: 1;
          font-size: 7.5rem;
          text-align: left;
          font-family: $font-blackStones;
          font-weight: 400;
          letter-spacing: 0.025em;
          font-style: normal;
          margin-bottom: 4rem;
        }

        .bonus-subcontent {
          max-width: 54rem;
          max-height: 10.5rem;
          color: $text-white;
          line-height: 1.3;
          text-align: left;
          letter-spacing: 0.025em;
          font-size: 3.2rem;
          font-family: $font-garamond;
          font-weight: 400;
          font-style: normal;
          text-transform: none;
          margin-bottom: 3rem;
        }

        .bonus-desc {
          line-height: 1.8;
          letter-spacing: 0.05em;
          font-size: 1.3rem;
          text-align: justify;
          font-family: $font-libre;
          font-weight: 400;
          font-style: normal;
          color: $text-white;
          width: 48rem;
          height: 10.6rem;
          margin-bottom: 4rem;
        }

        .bonus-btn {
          // how to remove hover opacity + background ?
          ::ng-deep > .custom-button {
            background-color: $text-white;

            .mdc-button__label {
              color: #545454;
            }

            .mdc-button__label:hover {
              opacity: 0.7;

              svg {
                opacity: 1;
              }
            }

            svg {
              fill: #545454;
            }
          }
        }
      }
    }
  }
}

// Mobile
@media (max-width: $breakpoint-tablet) {
  // Feature
  .feature-categories {
    height: 440rem;
    pointer-events: none;
    width: 100%;
    background-color: rgba(178, 196, 206, 1);
  }

  .feature-intro {
    .feature-banner {
      height: 100%;
    }

    .feature-laptop {
      position: absolute;
      width: 93.9rem;
      height: 100rem;
      .feature-background {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        .feature-card {
          width: 91rem;
        }
      }
    }
  }

  .plan-container {
    .plan-wrapper {
      max-width: 120rem;
      height: 100%;
      margin: 0 auto;
      padding: 7.5rem 9.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .plan-step-wrapper {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
      }
    }
  }

  // Sound
  .sound-container {
    background: #f7f4f1;

    .sound-wrapper {
      max-width: 120rem;
      margin: 0 auto;
      padding-top: 11.4rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 7.2rem;

      .sound-heading {
        width: 52rem;
        height: 9rem;
      }

      .sound-layout {
        padding: 0rem 2rem;
      }

      .sound-button {
        margin-bottom: 9rem;

        ::ng-deep > .custom-button {
          padding: 2.6rem 2.95rem !important;
        }
      }
    }
  }

  // moment
  .moment-container {
    padding-top: 3rem;
    .moment-wrapper {
      height: 100%;

      .moment-word {
        display: flex;
        flex-direction: column;
        gap: 0rem;
        padding: 0rem 10.5rem;

        .monment-word-wrapper {
          display: flex;
          flex-direction: column;
          position: relative;
          margin-top: 3.5rem;

          .momment-word-desc {
            display: none;
          }
        }

        .momment-word-desc-mobile {
          max-width: 37.5rem;
          color: rgba(84, 84, 84, 1);
          line-height: 1.8;
          letter-spacing: 0.05em;
          font-size: 1.3rem;
          text-align: justify;
          font-family: $font-libre;
          font-weight: 400;
          font-style: normal;
          display: block;
        }

        .momment-img {
          position: relative;
          margin-bottom: 5rem;
          img {
            max-width: 41.1rem;
            max-height: 57.1rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            border-radius: inherit;
            height: 100%;
          }

          .momment-img-text {
            display: none;
          }
        }
        .momment-img-text-mobile {
          margin: 2rem auto;
          transform: scale(1, 1) translate(0rem, 0rem) rotate(-5deg);
          max-width: 27rem;
          height: 30rem;
          color: rgba(178, 196, 206, 1);
          line-height: 1.5;
          letter-spacing: 0em;
          font-size: 7rem;
          text-align: left;
          font-family: $font-blackStones;
          font-weight: 400;
          font-style: normal;
          display: block;
        }
      }
    }
  }

  // bonus
  .bonus-container {
    height: 120rem;

    .bonus-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      .bonus-card {
        background-color: rgba(178, 196, 206, 1);

        .bonus-frame {
          position: absolute;
          left: 3%;
          top: 6.4rem;
          width: 100%;
          height: 100%;
          width: 59.7rem;
          height: 60.7rem;
          transform: scale(1, 1) translate(0rem, 0rem) rotate(-10deg);
          background-image: url("/assets/images/frame.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50% 50%;
          border-radius: inherit;

          .bonus-img {
            position: absolute;
            left: 13.8rem;
            top: 9rem;
            width: 100%;
            height: 100%;
            max-width: 31rem;
            height: 41rem;
            transform: scale(1, 1) translate(0rem, 0rem) rotate(0deg);
            background-image: url("/assets/images/wedding-5.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            border-radius: inherit;
          }

          .bonus-module {
            transform: rotate(-1deg);
            max-width: 21.3rem;
            height: 12.3rem;
            position: absolute;
            left: 32%;
            top: 51%;
            background-color: $text-white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .bonus-free {
              color: rgba(84, 84, 84, 1);
              font-size: 1rem;
              line-height: 1.8;
              letter-spacing: 0.25em;
              font-family: $font-garamond;
              text-transform: uppercase;
              font-weight: 500;
              font-style: normal;
              margin-bottom: 1rem;
              transform: rotate(-1deg);
            }

            h2 {
              line-height: 1.2;
              font-size: 2.5rem;
              color: rgba(84, 84, 84, 1);
              letter-spacing: 0.025em;
              font-family: $font-garamond;
              font-weight: 400;
              font-style: normal;
              text-align: center;
            }
          }
        }

        .bonus-content {
          left: 13%;
          position: absolute;
          top: 67rem;

          .bonus-title {
            transform: scale(1, 1) translate(0rem, 0rem) rotate(-8deg);
            width: 24.8rem;
            height: 5.6rem;
            color: $text-white;
            line-height: 1;
            font-size: 7.5rem;
            text-align: left;
            font-family: $font-blackStones;
            font-weight: 400;
            letter-spacing: 0.025em;
            font-style: normal;
            margin-bottom: 4rem;
          }

          .bonus-subcontent {
            max-width: 54rem;
            max-height: 10.5rem;
            color: $text-white;
            line-height: 1.3;
            text-align: left;
            letter-spacing: 0.025em;
            font-size: 3.2rem;
            font-family: $font-garamond;
            font-weight: 400;
            font-style: normal;
            text-transform: none;
            margin-bottom: 3rem;
          }

          .bonus-desc {
            line-height: 1.8;
            letter-spacing: 0.05em;
            font-size: 1.3rem;
            text-align: justify;
            font-family: $font-libre;
            font-weight: 400;
            font-style: normal;
            color: $text-white;
            width: 48rem;
            height: 10.6rem;
            margin-bottom: 4rem;
          }

          .bonus-btn {
            // how to remove hover opacity + background ?
            ::ng-deep > .custom-button {
              background-color: $text-white;

              .mdc-button__label {
                color: #545454;
              }

              .mdc-button__label:hover {
                opacity: 0.7;

                svg {
                  opacity: 1;
                }
              }

              svg {
                fill: #545454;
              }
            }
          }
        }
      }
    }
  }

  // How it works
  .work-container {
    .work-wrapper {
      max-width: 120rem;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;

      .work-title {
        font-family: $font-cammron;
        font-weight: 400;
        font-style: normal;
        color: rgba(84, 84, 84, 1);
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-size: 3.8rem;
        text-align: center;
        margin-bottom: 6rem;
      }

      .work-guide {
        flex-direction: column;
      }

      .work-author {
        margin-right: 0;

        .work-author-wrapper {
          margin-top: 66%;
          width: 100%;
          height: 61.1rem;
          background-color: rgba(178, 196, 206, 1);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          z-index: 1;
          padding: 9rem 10rem 6rem 12rem;

          .work-author-img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 45%;
            left: 25%;
            background-image: url("/assets/images/work-1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            border-radius: inherit;
          }

          > h2 {
            color: $text-white;
            text-transform: uppercase;
            line-height: 1.5;
            letter-spacing: 0.25em;
            font-size: 1.3rem;
            font-family: $font-questrial;
            font-weight: 400;
            font-style: normal;
            margin-bottom: 3rem;
          }

          .work-author-word {
            color: $text-white;
            line-height: 1.3;
            letter-spacing: 0.025em;
            font-size: 3.8rem;
            text-align: center;
            font-family: "Cammron Regular";
            font-weight: 400;
            font-style: normal;
            margin-bottom: 4.5rem;
          }

          .work-author-name {
            color: $text-white;
            line-height: 1;
            font-size: 6rem;
            text-align: center;
            font-family: $font-blackStones;
            font-weight: 400;
            font-style: normal;
            margin-bottom: 4rem;
          }

          .work-author-btn {
            position: relative;
            bottom: 0;
            right: 0;
          }
        }
      }
    }

    .work-start {
      height: 77.6rem;
      padding-top: 13.5rem;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 120rem;
      margin: 0 auto;
      align-items: center;

      > h2 {
        color: rgba(84, 84, 84, 1);
        line-height: 1.3;
        font-size: 3rem;
        text-align: center;
        letter-spacing: 0.025em;
        font-family: $font-cammron;
        font-weight: 400;
        font-style: normal;
        max-width: 70.8rem;
        height: 10.1rem;
        margin-bottom: 5.2rem;
      }

      .work-start-heading {
        transform: scale(1, 1) translate(0rem, 0rem) rotate(-2deg);
        width: 79.5rem;
        height: 6.3rem;
        color: rgba(178, 196, 206, 1);
        line-height: 1;
        font-size: 6rem;
        text-align: center;
        font-family: $font-blackStones;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.025em;
      }

      .work-start-laptop {
        width: 93.9rem;
        height: 91.3rem;
        transform: scale(1, 1) translate(0rem, 0rem);
        position: relative;

        .work-laptop-image {
          width: 100%;
          height: 100%;
          background-image: url("/assets/images/laptop.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 50%;
          border-radius: inherit;
          position: absolute;
        }

        .work-background-image {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50% 50%;
          border-radius: inherit;
          position: absolute;
          max-width: 30.9rem;
          height: 19.9rem;
          width: 100%;
          top: 25%;
          left: 34.5%;
          background-image: url("/assets/images/background-laptop.png");
        }
      }

      .work-start-productive {
        text-transform: uppercase;
        line-height: 1.3;
        letter-spacing: 0.1em;
        font-size: 4rem;
        text-align: center;
        font-family: "Cammron Regular";
        font-weight: 400;
        font-style: normal;
      }
    }

    .work-card-container {
      max-width: 120rem;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
}
