<button
  (click)="onClickButton($event)"
  [attr.type]="type"
  [disabled]="disabled"
  [class.primary]="color === 'primary'"
  [class.white]="color === 'white'"
  [class.secondary]="color === 'secondary'"
  mat-button
  class="custom-button"
>
  <ng-content></ng-content>
  <svg
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 47.67 21.33"
  >
    <title>arrow</title>
    <path
      d="M33.28 7.26l1.84 2.87h-24.3v1.07h24.3l-1.84 2.87c.29.35 3.55-3 3.57-3.36s-3.26-3.78-3.57-3.45z"
    ></path>
  </svg>
</button>
