@import "variables";

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 4rem;
  background-color: $primary-color;

  ul {
    display: flex;
    a {
      font-family: $font-poppins;
      color: $text-white;
      font-size: $font-size-minimum;
      font-weight: 500;
      text-transform: uppercase;
      border-right: 1px solid $text-white;
      padding: 0 1rem;
    }
  }

  li:last-child {
    a {
      border: none;
    }
  }

  span {
    a {
      font-family: $font-garamond;
      font-weight: 700;
      font-style: italic;
      font-size: 1.8rem;
      color: $text-white;
      cursor: pointer;
    }
  }
}
