<div class="header-container">
  <ul>
    <li>
      <a href="#">HOME</a>
    </li>
    <li><a href="#about">ABOUT</a></li>
    <li><a href="#features">FEATURES</a></li>
    <li><a href="#reviews">REVIEWS</a></li>
    <li><a href="#fqa">FAQ</a></li>
  </ul>
  <app-button
    (onClick)="handleClick()"
    class="header-button-container"
    color="secondary"
    >BUY NOW</app-button
  >
</div>

<div class="header-container-mobile">
  <h3>CLOVER CLUB</h3>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 105 75">
    <path
      d="M0 3.8C0 1.7 1.7 0 3.8 0h48.8c2.1 0 3.8 1.7 3.8 3.8s-1.7 3.8-3.8 3.8H3.8C1.7 7.5 0 5.8 0 3.8zm0 33.7c0-2.1 1.7-3.8 3.8-3.8h97.5c2.1 0 3.8 1.7 3.8 3.8s-1.7 3.8-3.8 3.8H3.8C1.7 41.2 0 39.6 0 37.5zm3.8 30c-2.1 0-3.8 1.7-3.8 3.8S1.7 75 3.8 75h97.5c2.1 0 3.8-1.7 3.8-3.8s-1.7-3.8-3.8-3.8H3.8z"
      fill-rule="evenodd"
      clip-rule="evenodd"
    ></path>
  </svg>
</div>
