@import "variables";
@import "mixins";

.header-container {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $primary-color;
  z-index: $z-very-hight;
  @include flex-center;
  ul {
    max-width: 120rem;
    height: $header-height;
    @include flex-center;
    gap: 4rem;
    li {
      font-size: $font-size-minimum;
      @include typography-poppins;
    }
    a {
      color: $text-white;
    }
  }
}

.header-button-container {
  position: absolute;
  right: 0;
}
