<div class="ending-container">
  <div class="ending-banner">
    <div
      appParallaxCenter
      [style.backgroundImage]="'url(/assets/images/ending.jpg)'"
    ></div>
    <div class="ending-wrapper">
      <p class="ending-heading">
        "This is your day. This is the time to go after it all.
      </p>
      <h2>— ME, YESTERDAY</h2>
    </div>
  </div>
</div>
<div class="ending-step">
  <div class="ending-step-wrapper">
    <h2>By the end of __, you will...</h2>
    <div class="ending-layout">
      <app-endingstep
        content="Be booking your ideal clients and work that brings high reward — both financially and creatively."
      />
      <app-endingstep
        content="Increasing your average booking per client (Our students report an over 250% increase!)."
      />
      <app-endingstep
        content="Be able to clearly articulate what you do and who you do it for on demand confidently"
      />
      <app-endingstep
        content="Have a clear actionable plan in place for scaling your business and taking things to the next level. "
      />
      <app-endingstep
        content="Know what to post and what to say on Instagram so you can get on with it."
      />
      <app-endingstep
        content="Be able to attract top-tier candidates to join your team and help build your biz."
      />
    </div>
    <app-button class="ending-btn">ENROLL NOW</app-button>
  </div>
</div>
