//color
$primary-color: #b2c4ce;
$secondary-color: #c5d4db;
$text-color: #545454;
$text-gray: #939393;
$text-white: #ffff;
$background-color: #fbfbfb;

// Breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Font Sizes
$font-size-minimum: 0.9rem; // 9px
$font-size-small: 1rem; // 10px
$font-size-normal: 1.2rem; // 12px
$font-size-base: 1.3rem; // 13px
$font-size-large: 1.6rem; // 16px
$font-size-xlarge: 3.2rem; // 32px
$font-size-xxlarge: 4.5rem; // 45px

// Font Family
$font-poppins: "Poppins", sans-serif;
$font-cammron: "Cammron", sans-serif;
$font-questrial: "Questrial", sans-serif;
$font-blackStones: "BlackStones", sans-serif;
$font-garamond: "Cormorant Garamond", serif;

// z-index
$z-low: 1;
$z-hight: 10;
$z-very-hight: 20;

// style component
$header-height: 4rem;
