@import "variables";
@import "mixins";
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Libre Baskerville", serif;
  color: $text-color;
  font-size: $font-size-base;
  line-height: 1.8;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: $text-color;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 0.7;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  will-change: background-position;
}
