@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

body {
  font-family: "Libre Baskerville", serif;
  font-size: $font-size-base;
  color: $text-color;
  line-height: 1.8;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: $text-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-weight: 700;
  color: $text-color;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}
