<div class="home-about content-wrapper" id="about">
  <div class="about-welcome">
    <div class="welcome-img">
      <img src="/assets/images/1.jpg" alt="image" appLazyLoad />

      <!-- <img src="assets/images/4.jpg" alt="" appLazyLoad /> -->
    </div>
    <div class="welcome-text">
      <h3>Welcome to Your Product or Course.</h3>
      <span class="about-underline"></span>
      <p>
        Here is where you are going to paint the picture of what life could look
        like should this person choose to invest in your ability to in fact
        change their life. And this picture should be mouthwatering and describe
        the exact benefits that you yourself have experienced because of this
        very thing or the very things you teach in this course.
      </p>
      <p>
        And as soon as they have envisioned what is possible, you are going to
        make sure they know that you were once in their shoes. You're going to
        break down all of the frustrations in the next section.
      </p>
      <span>Ready for your life to change?</span>
    </div>
  </div>
  <div class="about-challenge">
    <div class="about-challenge-left">
      <h3>Here you are going to state the challenges and frustrations</h3>

      <p>THAT ONE MIGHT CURRENTLY BE FACING IN THEIR BUSINESS</p>

      <ul>
        <li>
          <span>1.</span>
          <p>
            How about an itemized list of specific pain points? You want these
            to be very telling of where this person might be at emotionally and
            where you once were.
          </p>
        </li>

        <li>
          <span>2.</span>
          <p>
            Another specific pain point here and you want it to be very telling
            of where this person might be at emotionally and where you once
            were.
          </p>
        </li>
        <li>
          <span>3.</span>
          <p>
            Maybe you've they've feeling this way, frustrated by this particular
            situation and overwhelmed?&nbsp;
          </p>
        </li>
        <li>
          <span>4.</span>
          <p>
            Maybe they're wishing they could ____ or ____ without having to ____
            or ____. It's just so hard!
          </p>
        </li>
      </ul>
    </div>
    <div class="about-challenge-right">
      <img src="/assets/images/2.jpg" alt="image" appLazyLoad />
    </div>
  </div>
  <div class="about-des">
    <img src="/assets/images/3.jpg" alt="image" appLazyLoad />
    <h2>"This program transformed my business!"</h2>
    <p>
      "Following that one-liner highlight from your client's testimonial you are
      going to want to add the entire thing hear to really drive home how
      awesome people think your course or product is."
    </p>
    <span>— MAYA</span>
  </div>
</div>

<div class="about-remind">
  <div class="remind-img">
    <img src="/assets/images/4.jpg" alt="image" appLazyLoad />
  </div>
  <div class="remind-text">
    <h3>BUT GUESS WHAT...</h3>
    <h4>Remind them you once experienced the same thing.</h4>
    <p>
      You are going to tell them all about it right here. But be sure and not
      drag on too long because, remember, this is about them. You want to share
      enough so they no longer feel alone, but the focus is going to be on the
      solution and what they can find for themselves should they invest in your
      services.
    </p>
    <span
      >And that part is coming quick, but not before we hint at the epiphany
      that you had. The realization you came to.</span
    >
  </div>
</div>
