<div class="home-fqa" id="fqa">
  <h3 class="home-fqa-title">Frequently Asked Questions</h3>

  <div class="home-fqa-content">
    <ul>
      <li>
        <h4>
          We're going to add a top asked question here so we can address it.
        </h4>
        <p>
          And then, you guessed it... we are going to dazzle them with a really
          informative answer right here.
        </p>
      </li>
      <li>
        <h4>
          We're going to add a top asked question here so we can address it.
        </h4>
        <p>
          And then, you guessed it... we are going to dazzle them with a really
          informative answer right here.
        </p>
      </li>
      <li>
        <h4>
          We're going to add a top asked question here so we can address it.
        </h4>
        <p>
          And then, you guessed it... we are going to dazzle them with a really
          informative answer right here.
        </p>
      </li>
      <li>
        <h4>
          We're going to add a top asked question here so we can address it.
        </h4>
        <p>
          And then, you guessed it... we are going to dazzle them with a really
          informative answer right here.
        </p>
      </li>
    </ul>
    <ul>
      <li>
        <h4>
          We're going to add a top asked question here so we can address it.
        </h4>
        <p>
          And then, you guessed it... we are going to dazzle them with a really
          informative answer right here.
        </p>
      </li>
      <li>
        <h4>
          We're going to add a top asked question here so we can address it.
        </h4>
        <p>
          And then, you guessed it... we are going to dazzle them with a really
          informative answer right here.
        </p>
      </li>
      <li>
        <h4>
          We're going to add a top asked question here so we can address it.
        </h4>
        <p>
          And then, you guessed it... we are going to dazzle them with a really
          informative answer right here.
        </p>
      </li>
      <li>
        <h4>
          We're going to add a top asked question here so we can address it.
        </h4>
        <p>
          And then, you guessed it... we are going to dazzle them with a really
          informative answer right here.
        </p>
      </li>
    </ul>
  </div>

  <div class="fqa-quantity">
    <ul>
      <li>
        <span>250</span>
        <p>Students who have taken this course</p>
      </li>
      <li>
        <span>02</span>
        <p>Number of times I cried about that</p>
      </li>
      <li>
        <span>$6.5m</span>
        <p>My clients' launch profits this year</p>
      </li>
      <li>
        <span>800k</span>
        <p>Number of podcast episode downloaded</p>
      </li>
    </ul>
  </div>

  <div class="fqa-banner">
    <div
      appParallax
      [style.backgroundImage]="'url(/assets/images/20.jpg)'"
    ></div>
    <div class="overlay"></div>
    <div class="fqa-content">
      <h3>Still on the fence?</h3>

      <p>
        I completely understand. Every dollar invested in your business is an
        important one! Glossier church-key subway tile. Poke fixie kickstarter
        fashion axe mixtape brunch. Small batch bushwick master cleanse
        waistcoat, everyday carry chillwave la croix.
      </p>

      <app-button color="white" [showArrow]="false"
        >SHOOT ME AN EMAIL</app-button
      >
    </div>
  </div>

  <div class="fqa-social">
    <h3>Clover Club</h3>

    <ul>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M338,54.63H174c-62.72,0-114,51.32-114,114V343.33c0,62.72,51.32,114,114,114H338c62.72,0,114-51.32,114-114V168.67C452,105.94,400.68,54.63,338,54.63Zm83.91,288.71A84.24,84.24,0,0,1,338,427.24H174a84.24,84.24,0,0,1-83.91-83.91V168.67A84.24,84.24,0,0,1,174,84.76H338a84.24,84.24,0,0,1,83.91,83.91Z"
          ></path>
          <path
            d="M255.77,148.18A107.94,107.94,0,1,0,363.71,256.13,107.94,107.94,0,0,0,255.77,148.18Zm-.52,178.71a70.68,70.68,0,1,1,70.68-70.68A70.68,70.68,0,0,1,255.25,326.9Z"
          ></path>
          <circle cx="365.44" cy="146.5" r="25.56"></circle>
        </svg>
      </li>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.86 19.797">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M6.214 13.09c-.582 2.575-1.407 5.724-2.982 6.707-1.085-3.298 1.36-7.14 1.445-10.41.055-2.167-.582-5.76 2.81-4.71 1.98 1.833-2.587 6.97.618 7.822 1.667.45 2.77-1.022 3.06-1.49 2.57-4.148.63-9.493-4.07-9.106-2.707.23-4.923 2.725-4.854 5.612.042 1.72 1.32 1.686.523 3.99C1.586 11.35.853 10.323.62 9.792-2.575 2.74 7.365-2.794 12.593 1.52c4.34 3.576 2.138 13.502-3.936 12.99-1.127-.102-1.68-.662-2.443-1.42z"
          ></path>
        </svg>
      </li>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M288 192v-38.1c0-17.2 3.8-25.9 30.5-25.9H352V64h-55.9c-68.5 0-91.1 31.4-91.1 85.3V192h-45v64h45v192h83V256h56.4l7.6-64h-64z"
          ></path>
        </svg>
      </li>
      <li>
        <span>Inquire</span>
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 47.67 21.33"
        >
          <title>arrow</title>
          <path
            d="M33.28 7.26l1.84 2.87h-24.3v1.07h24.3l-1.84 2.87c.29.35 3.55-3 3.57-3.36s-3.26-3.78-3.57-3.45z"
          ></path>
        </svg>
      </li>
    </ul>
  </div>

  <div class="fqa-info">
    <div class="fqa-info-link">
      <ul>
        <li><a href="">HOME</a></li>
        <li><a href="">ABOUT US</a></li>
        <li><a href="">PORTFOLIO</a></li>
        <li><a href="">INFORMATION</a></li>
      </ul>
      <ul>
        <li><a href="">EXPERIENCE</a></li>
        <li><a href="">EDUCATION</a></li>
        <li><a href="">CONTACT</a></li>
        <li><a href="">THE BLOG</a></li>
      </ul>
    </div>
    <div class="fqa-info-last">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing. Aliquam ut aliquam
        justo, non imperdiet velit.
      </p>
      <app-button color="secondary" [showArrow]="false"
        >FOLLOW &#64;CLOVERCLUB</app-button
      >
    </div>
  </div>

  <div class="fqa-images">
    <img appLazyLoad src="/assets/images/4.jpg" alt="" />
    <img appLazyLoad src="/assets/images/4.jpg" alt="" />
    <img appLazyLoad src="/assets/images/4.jpg" alt="" />
    <img appLazyLoad src="/assets/images/4.jpg" alt="" />
    <img appLazyLoad src="/assets/images/4.jpg" alt="" />
    <img appLazyLoad src="/assets/images/4.jpg" alt="" />
    <img appLazyLoad src="/assets/images/4.jpg" alt="" />
    <img appLazyLoad src="/assets/images/4.jpg" alt="" />
    <img appLazyLoad src="/assets/images/4.jpg" alt="" />
  </div>

  <div class="fqa-images-mobile">
    <img appLazyLoad src="/assets/images/4.jpg" alt="" />
    <img appLazyLoad src="/assets/images/4.jpg" alt="" />
    <img appLazyLoad src="/assets/images/4.jpg" alt="" />
    <img appLazyLoad src="/assets/images/4.jpg" alt="" />
  </div>
</div>
