<div class="home-container">
  <!-- ==== Heading ==== -->
  <div class="home-heading">
    <div class="home-heading-date">
      <span>CART CLOSES IN:</span>
      <span>158 DAYS</span>
      <span>5 HRS</span>
      <span>47 MINS</span>
    </div>
    <h3>CLOVER CLUB</h3>
    <div class="heading-last">
      <h2>THE ONLY___ YOU NEED TO ______</h2>
    </div>
  </div>
  <!-- ==== Heading ==== -->

  <!-- ==== Banner ==== -->
  <div class="home-banner">
    <div
      appParallax
      [style.backgroundImage]="'url(/assets/images/banner.jpg)'"
    ></div>
    <div class="overlay"></div>
    <div class="banner-content">
      <h3>ISN'T IT TIME YOU DID THAT THING?</h3>
      <span class="underline"></span>
      <div class="banner-signature">
        <h4>WE'RE GOING TO GO BIG HERE TO GRAB</h4>
        <h5>some attention.</h5>
      </div>
      <p>
        And once you have grabbed their attention we are going to have a little
        something right here. Just a little something in order to hook 'em and
        get them scrolling right along to discover something amazing from you.
      </p>
      <app-button color="white">YEs, PLEASE</app-button>
    </div>
    <div class="banner-text-scroll">
      SCROLL TO BEGIN
      <img src="/assets/images/arrow-white.svg" alt="image" />
    </div>
  </div>

  <div class="home-banner-mobile">
    <div
      class="banner-mobile-image"
      [style.backgroundImage]="'url(/assets/images/21.jpg)'"
    ></div>
  </div>

  <div class="home-content">
    <div class="banner-mobile-content">
      <h3>ISn'T IT TIME YOU DID THAT THING?</h3>
      <span class="underline"></span>
      <div class="banner-signature">
        <h4>WE'RE GOING TO GO BIG HERE IN ORDER TO GRAB</h4>
      </div>
      <h5>some attention.</h5>
      <p>
        And once you have grabbed their attention we are going to have a little
        something right here. Just a little something in order to hook 'em and
        get them scrolling right along to discover something amazing from you.
      </p>
      <app-button>YEs, PLEASE</app-button>
    </div>

    <!-- ==== Banner ==== -->

    <!-- ==== About ==== -->
    <app-about></app-about>
    <!-- ==== About ==== -->
  </div>
  <!-- ==== FQA ==== -->
  <app-fqa></app-fqa>
  <!-- ==== FQA ==== -->
</div>
