@import "variables";
@import "mixins";

.home-container {
  p {
    letter-spacing: 0.05em;
  }
}

// =========  Heading =========
.home-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8.9rem;
  background-color: $text-white;
  box-shadow: rgba(0, 0, 0, 0.16) 0rem 1px 4px;
  padding: 0 3.6rem;

  h3 {
    color: $primary-color;
    font-family: $font-cammron;
    font-weight: 400;
    font-size: $font-size-xlarge;
    letter-spacing: 0.15em;
  }

  h2,
  .home-heading-date {
    font-family: $font-questrial;
    font-size: $font-size-small;
    color: $text-gray;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.15em;
  }

  .home-heading-date,
  h3,
  .heading-last {
    flex: 1;
  }

  h3 {
    text-align: center;
  }

  .heading-last {
    h2 {
      float: right;
      width: 16.5rem;
      text-align: right;
    }
  }

  .home-heading-date {
    margin-top: -15px;
    text-align: left;

    span {
      margin-left: 1rem;
    }

    span:first-child {
      margin: 0;
    }
  }
}

// =========  Banner =========
.home-banner {
  position: relative;
  height: 66.3rem;
  overflow: hidden;

  .banner-content {
    width: 100%;
    max-width: 56.6rem;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    z-index: $z-hight;

    h3 {
      font-family: $font-poppins;
      font-size: $font-size-normal;
      color: $text-white;
      font-weight: 500;
      letter-spacing: 0.25em;
      margin-bottom: 1rem;
    }

    .banner-signature {
      margin-top: 2rem;
      position: relative;

      h4 {
        font-family: $font-cammron;
        font-size: $font-size-xxlarge;
        color: $text-white;
        font-weight: 400;
        line-height: 1.3;
      }

      h5 {
        top: 7rem;
        left: -1rem;
        position: absolute;
        font-family: $font-blackStones;
        font-size: 7rem;
        font-weight: 400;
        letter-spacing: 0.1em;
        color: $text-white;
        font-style: italic;
      }
    }

    p {
      margin-top: 7rem;
      margin-bottom: 3rem;
      color: $text-white;
    }

    ::ng-deep {
      button {
        height: 5rem;
      }
    }
  }

  .banner-text-scroll {
    position: absolute;
    right: 0;
    bottom: 20%;
    z-index: $z-hight;
    transform: scale(1, 1) translate(40.5px, 0rem) rotate(90deg);
    display: flex;
    align-items: center;
    color: $text-white;

    img {
      width: 4.7rem;
    }
  }
}

.home-banner-mobile,
.banner-mobile-content {
  display: none;
}

// Mobile
@media (max-width: $breakpoint-tablet) {
  .home-heading {
    display: none;
  }

  .home-content {
    padding: $padding-mobile;
  }

  .home-banner {
    display: none;
  }

  .home-banner-mobile {
    position: relative;
    display: block;
    height: 25rem;
  }

  .banner-mobile-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .banner-mobile-content {
    display: block;

    h3 {
      font-family: $font-poppins;
      font-size: $font-size-base;
      font-weight: 300;
      letter-spacing: 0.25em;
      margin-bottom: 1rem;
    }

    .underline {
      background-color: $text-gray;
    }

    .banner-signature {
      margin-top: 2rem;
      position: relative;

      h4 {
        font-family: $font-cammron;
        font-size: 3.5rem;
        font-weight: 400;
        line-height: 1.3;
      }
    }

    h5 {
      font-family: $font-blackStones;
      font-size: 5rem;
      font-weight: 400;
      letter-spacing: 0.1em;
      color: $primary-color;
      font-style: italic;
    }

    p {
      margin-bottom: 3rem;
    }
  }
}
