<div class="home-container">
  <!-- Heading -->
  <div class="home-heading">
    <div class="home-heading-date">
      <span>CART CLOSES IN:</span>
      <span>158 DAYS</span>
      <span>5 HRS</span>
      <span>47 MINS</span>
    </div>
    <h3>CLOVER CLUB</h3>
    <div class="heading-last">
      <h2>THE ONLY___ YOU NEED TO ______</h2>
    </div>
  </div>
  <!-- Heading -->

  <!-- Banner -->
  <div class="home-banner">
    <div class="banner-overlay"></div>
    <div class="banner-content">
      <h3>ISN'T IT TIME YOU DID THAT THING?</h3>
      <span class="underline"></span>
      <div class="banner-signature">
        <h4>WE'RE GOING TO GO BIG HERE TO GRAB</h4>
        <h5>some attention.</h5>
      </div>
      <p>
        And once you have grabbed their attention we are going to have a little
        something right here. Just a little something in order to hook 'em and
        get them scrolling right along to discover something amazing from you.
      </p>
      <app-button color="white">YEs, PLEASE</app-button>
    </div>
    <div class="banner-text-scroll">
      SCROLL TO BEGIN
      <img src="/assets/images/arrow-white.svg" alt="" />
    </div>
  </div>
  <!-- Banner -->

  <!-- section1 -->
  <div class="home-section1 content-wrapper">
    <div class="section1-welcome">
      <div class="welcome-img">
        <img src="/assets/images/1.jpg" alt="" />
      </div>
      <div class="welcome-text">
        <h3>Welcome to Your Product or Course.</h3>
        <span class="section1-underline"></span>
        <p>
          Here is where you are going to paint the picture of what life could
          look like should this person choose to invest in your ability to in
          fact change their life. And this picture should be mouthwatering and
          describe the exact benefits that you yourself have experienced because
          of this very thing or the very things you teach in this course.
        </p>
        <p>
          And as soon as they have envisioned what is possible, you are going to
          make sure they know that you were once in their shoes. You're going to
          break down all of the frustrations in the next section.
        </p>
        <span>Ready for your life to change?</span>
      </div>
    </div>
    <div class="section1-challenge">
      <div class="section1-challenge-left">
        <h3>Here you are going to state the challenges and frustrations</h3>

        <p>THAT ONE MIGHT CURRENTLY BE FACING IN THEIR BUSINESS</p>

        <ul>
          <li>
            <span>1.</span>
            <p>
              How about an itemized list of specific pain points? You want these
              to be very telling of where this person might be at emotionally
              and where you once were.
            </p>
          </li>

          <li>
            <span>2.</span>
            <p>
              Another specific pain point here and you want it to be very
              telling of where this person might be at emotionally and where you
              once were.
            </p>
          </li>
          <li>
            <span>3.</span>
            <p>
              Maybe you've they've feeling this way, frustrated by this
              particular situation and overwhelmed?&nbsp;
            </p>
          </li>
          <li>
            <span>4.</span>
            <p>
              Maybe they're wishing they could ____ or ____ without having to
              ____ or ____. It's just so hard!
            </p>
          </li>
        </ul>
      </div>
      <div class="section1-challenge-right">
        <img src="/assets/images/2.jpg" alt="" />
      </div>
    </div>
    <div class="section1-des">
      <img src="/assets/images/3.jpg" alt="" />
      <h2>"This program transformed my business!"</h2>
      <p>
        "Following that one-liner highlight from your client's testimonial you
        are going to want to add the entire thing hear to really drive home how
        awesome people think your course or product is."
      </p>
      <span>— MAYA</span>
    </div>
  </div>

  <div class="section1-remind">
    <div class="remind-img">
      <img src="/assets/images/4.jpg" alt="" />
    </div>
    <div class="remind-text">
      <h3>BUT GUESS WHAT...</h3>
      <h4>Remind them you once experienced the same thing.</h4>
      <p>
        You are going to tell them all about it right here. But be sure and not
        drag on too long because, remember, this is about them. You want to
        share enough so they no longer feel alone, but the focus is going to be
        on the solution and what they can find for themselves should they invest
        in your services.
      </p>
      <span
        >And that part is coming quick, but not before we hint at the epiphany
        that you had. The realization you came to.</span
      >
    </div>
  </div>
  <!-- section1 -->
</div>
