@import "variables";
@import "mixins";

.home-container {
  p {
    letter-spacing: 0.05em;
  }
}

// =========  Heading =========
.home-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8.9rem;
  background-color: $text-white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0 3.6rem;

  h3 {
    color: $primary-color;
    font-family: $font-cammron;
    font-weight: 400;
    font-size: $font-size-xlarge;
    letter-spacing: 0.15em;
  }

  h2,
  .home-heading-date {
    font-family: $font-questrial;
    font-size: $font-size-small;
    color: $text-gray;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.15em;
  }

  .home-heading-date,
  h3,
  .heading-last {
    flex: 1;
  }

  h3 {
    text-align: center;
  }

  .heading-last {
    h2 {
      float: right;
      width: 16.5rem;
      text-align: right;
    }
  }

  .home-heading-date {
    margin-top: -15px;
    text-align: left;

    span {
      margin-left: 1rem;
    }

    span:first-child {
      margin: 0;
    }
  }
}

// =========  Banner =========
.home-banner {
  position: relative;
  height: 66.3rem;
  overflow: hidden;

  .banner-content {
    width: 56.6rem;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    z-index: $z-hight;

    h3 {
      font-family: $font-poppins;
      font-size: $font-size-normal;
      color: $text-white;
      font-weight: 500;
      letter-spacing: 0.25em;
      margin-bottom: 1rem;
    }

    .banner-signature {
      margin-top: 2rem;
      position: relative;

      h4 {
        font-family: $font-cammron;
        font-size: $font-size-xxlarge;
        color: $text-white;
        font-weight: 400;
        line-height: 1.3;
      }

      h5 {
        top: 7rem;
        left: -1rem;
        position: absolute;
        font-family: $font-blackStones;
        font-size: 7rem;
        font-weight: 400;
        letter-spacing: 0.1em;
        color: $text-white;
        font-style: italic;
      }
    }

    p {
      margin-top: 7rem;
      margin-bottom: 3rem;
      color: $text-white;
    }

    ::ng-deep {
      button {
        height: 5rem;
      }
    }
  }

  .banner-text-scroll {
    position: absolute;
    right: 0;
    bottom: 20%;
    z-index: $z-hight;
    transform: scale(1, 1) translate(40.5px, 0px) rotate(90deg);
    display: flex;
    align-items: center;
    color: $text-white;

    img {
      width: 4.7rem;
    }
  }
}

.home-banner-mobile,
.banner-mobile-content {
  display: none;
}

// Mobile
@media (max-width: $breakpoint-tablet) {
  .home-heading {
    display: none;
  }

  .home-content {
    padding: 10%;
  }

  .home-banner {
    display: none;
  }

  .home-banner-mobile {
    position: relative;
    display: block;
    height: 25rem;
  }

  .banner-mobile-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .banner-mobile-content {
    display: block;
    h3 {
      font-family: $font-poppins;
      font-size: $font-size-base;
      font-weight: 300;
      letter-spacing: 0.25em;
      margin-bottom: 1rem;
    }

    .underline {
      background-color: $text-gray;
    }

    .banner-signature {
      margin-top: 2rem;
      position: relative;
      h4 {
        font-family: $font-cammron;
        font-size: 3.5rem;
        font-weight: 400;
        line-height: 1.3;
      }
    }

    h5 {
      font-family: $font-blackStones;
      font-size: 5rem;
      font-weight: 400;
      letter-spacing: 0.1em;
      color: $primary-color;
      font-style: italic;
    }

    p {
      margin-bottom: 3rem;
    }
  }
}

// Feature
.feature-intro {
  position: relative;

  .feature-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: $z-low;
  }

  .feature-banner {
    position: relative;
    height: 66.3rem;
    background-image: url("/assets/images/background-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: top;

    .feature-content {
      width: 93.9rem;
      height: 60%;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      flex-direction: column;
      z-index: $z-hight;

      .feature-text-head {
        transform: scale(1, 1) translate(0px, 0px) rotate(-2deg);
        color: $text-white;
        line-height: 1;
        letter-spacing: 0em;
        font-size: 7rem;
        text-align: center;
        width: 54.1rem;
        height: 6.5rem;
        font-family: $font-blackStones;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 3.6rem;
      }

      .feature-text-choice {
        color: $text-white;
        font-size: 3rem;
        text-align: center;
        font-family: $font-cammron;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 3.6rem;
      }

      .feature-text-desc {
        color: $text-white;
        max-width: 50.8rem;
        text-align: center;
        line-height: 1.8;
        letter-spacing: 0.05em;
        font-size: 1, 3rem;
        font-family: 'Libre Baskerville';
        font-weight: 400;
        font-style: normal;
      }
    }

    .feature-laptop {
      position: absolute;
      width: 93.9rem;
      height: 91.3rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -25%);

      .feature-laptop-wrapper {
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
        border-radius: inherit;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0rem;
        left: 3rem;
        background-image: url("/assets/images/laptop.png");
      }

      .feature-laptop-background {
        background-repeat: no-repeat;
        background-size: cover;
        transform-origin: 50% 50%;
        position: absolute;
        left: 23.6rem;
        top: 32rem;
        width: 44.8rem;
        height: 28rem;
        background-image: url("/assets/images/background-laptop.png");
      }

      .feature-learn {
        position: absolute;
        left: 22%;
        top: 76%;

        .feature-learn-break {
          position: relative;
          font-family: $font-questrial;
          font-weight: 400;
          margin-bottom: 3.6rem;
          text-align: center;
          font-style: normal;
          color: $text-white;
          font-size: 1.3rem;
          text-transform: uppercase;
        }

        .feature-learn-desc {
          color: $text-white;
          font-size: 3rem;
          text-align: center;
          font-family: $font-cammron;
          font-weight: 400;
          font-style: italic;
          text-transform: uppercase;
          line-height: 1.3;
          letter-spacing: 0.1em;
        }
      }

      .feature-background {
        position: relative;
        top: 84.5rem;
        width: 39.3rem;
        height: 47.4rem;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
      }
    }
  }
}

.feature-categories {
  height: 243.8rem;
  pointer-events: none;
  width: 100%;
  background-color: rgba(178, 196, 206, 1);
}

// Sound
.sound-container {
  background: #F7F4F1;

  .sound-wrapper {
    max-width: 120rem;
    margin: 0 auto;
    padding-top: 11.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 7.2rem;

    .sound-heading {
      width: 85.4rem;
      height: 9rem;
      transform: scale(1, 1) translate(0px, 0px) rotate(-1deg);
      animation-fill-mode: both;
      box-sizing: border-box;
      display: block;
      outline: none;
      pointer-events: auto;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      color: rgba(178, 196, 206, 1);
      line-height: 1;
      letter-spacing: 0em;
      font-size: 7.5rem;
      text-align: center;
      font-family: $font-blackStones;
      font-weight: 400;
      font-style: normal;
      margin-bottom: 4.5rem;
    }

    .sound-result {
      width: 47.2rem;
      height: 4.1rem;
      transition-duration: 0.25s;
      transition-property: opacity;
      transform: scale(1, 1) translate(0px, 0px);
      color: rgba(84, 84, 84, 1);
      text-transform: uppercase;
      line-height: 1.8;
      letter-spacing: 0.25em;
      font-size: 1.2rem;
      font-family: $font-poppins;
      font-weight: 500;
      font-style: normal;
      display: flex;
      justify-content: center;
    }

    .sound-layout {
      margin-bottom: 7.2rem;
    }

    .sound-button {
      margin-bottom: 9rem;
    }
  }
}

// How it works
.work-container {

  .work-wrapper {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .work-title {
      font-family: $font-cammron;
      font-weight: 400;
      font-style: normal;
      color: rgba(84, 84, 84, 1);
      line-height: 1.5;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      font-size: 3.8rem;
      text-align: center;
      margin-bottom: 6rem;
    }

    .work-guide {
      display: flex;
      margin-bottom: 9.9rem;
    }
  }
}